<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxun.pm.mapper.ProjectManagementMapper">

    <!--分页查询表格数据-->
    <select id="selectDataGrid" resultType="BaseProjectInfo">
        select i.*,
            (SELECT value FROM dictionaries d WHERE  d.id= i.project_nature) AS projectNatureText,
            (SELECT value FROM dictionaries d2 WHERE  d2.id= i.project_type) AS projectTypeText,
            (SELECT value FROM dictionaries d3 WHERE  d3.id= i.procurement_method) AS procurementMethodText,
            (SELECT value FROM dictionaries d4 WHERE  d4.id= i.examine_stage) AS examineStageText,
            (SELECT name FROM intermediary_organ o WHERE  o.id= i.intermediary_organ_id) AS  `intermediaryOrgan.name`,
            (SELECT value FROM dictionaries d5 WHERE  d5.id= i.purchasing_type_description) AS purchasingTypeDescriptionText
        FROM  project_info i
        WHERE del_flag =#{baseProjectInfo.delFlag}
        order by ${sort} ${order}
    </select>

    <!--根据ID更新对象-->
    <select id="updateById" >
        UPDATE project_info SET
        `project_name`=   #{projectName},
        `letter_delivery` =  #{letterDelivery},
        `trial_amount`= #{trialAmount},
        `trial_date` =  #{trialDate},
        `contacts` =    #{contacts},
        `office_phone`=  #{officePhone},
        `mobile_phone` = #{mobilePhone},
        `responseibility_unit`= #{responseibilityUnit},
        `construction_unit`= #{constructionUnit},
        `project_nature`=  #{projectNature},
        `project_type`=  #{projectType},
        `procurement_method`=  #{procurementMethod},
        `examine_stage`=  #{examineStage},
        `contract_amount`=  #{contractAmount},
        `audit_fee_provenance`=  #{auditFeeProvenance},
        `purchasing_type_description`=  #{purchasingTypeDescription},
        `audit_fee_name`=  #{auditFeeName},
        `report_number`= #{reportNumber} ,
        `fixed_amount`= #{fixedAmount} ,
        `reduction_ratio`= #{reductionRatio} ,
        `deductions`= #{deductions} ,
        `audit_fee`= #{auditFee} ,
        `supplementary_day`= #{supplementaryDay} ,
        `update_date`=  #{updateDate},
        `update_by` = #{updateBy.id}
        WHERE id=#{id}
    </select>

    <!--根据ID查询对象-->
    <select id="selectById" resultType="BaseProjectInfo">
        select
            i.*
        from project_info i
        WHERE  del_flag =#{DEL_FLAG_NORMAL}
        AND id=#{id}
    </select>

    <!--禁用项目-->
    <update id="disable">
        UPDATE  project_info SET
            del_flag='1'
        WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--委派项目到中介-->
    <update id="toDelegate">
        UPDATE  project_info SET
          intermediary_organ_id=#{intermediaryOrgan.id},
          status=#{PROJECT_STATUS_DELEGATE},
          update_date=#{updateDate},
          update_by=#{updateBy.id}
        WHERE id =#{id}
    </update>












    <insert id="insert">
        INSERT INTO project_info (
           `project_name` ,
           `letter_delivery` ,
           `trial_amount` ,
           `trial_date` ,
           `contacts`,
            `office_phone` ,
            `mobile_phone` ,
           `responseibility_unit` ,
           `construction_unit`,
           `project_nature` ,
           `project_type` ,
           `procurement_method` ,
           `examine_stage` ,
           `contract_amount` ,
           `audit_fee_provenance`,
           `purchasing_type_description` ,
           `audit_fee_name` ,
           `report_number` ,
           `fixed_amount` ,
           `reduction_ratio` ,
           `deductions` ,
           `audit_fee` ,
           `supplementary_day` ,
           `status` ,
           `del_flag` ,
           `create_date` ,
            `create_by` ,
           `update_date` ,
           `update_by`
        )VALUE (
            #{projectName},
            #{letterDelivery},
            #{trialAmount},
            #{trialDate},
            #{contacts},
            #{officePhone},
            #{mobilePhone},
            #{responseibilityUnit},
            #{constructionUnit},
            #{projectNature},
            #{projectType},
            #{procurementMethod},
            #{examineStage},
            #{contractAmount},
            #{auditFeeProvenance},
            #{purchasingTypeDescription},
            #{auditFeeName},
            #{reportNumber},
            #{fixedAmount},
            #{reductionRatio},
            #{deductions},
            #{auditFee},
            #{supplementaryDay},
            #{PROJECT_STATUS_REGISTER},
            #{delFlag},
            #{createDate},
            #{createBy.id},
            #{updateDate},
            #{updateBy.id}
        )
    </insert>

    <!--<insert id="insert2">-->
        <!--INSERT INTO project_info (-->
           <!--`project_name`-->

        <!--)VALUE (-->
           <!--"123"-->
        <!--)-->
    <!--</insert>-->

</mapper>